<!DOCTYPE html>
<html>
<body style="background-color:black; color:green;">
<h1>AutoGro v0.0.1</h1>
<h2>Watering Controls</h2>
<form action=""; method="post"; class="waterControl" style="background-color:black; color:green">
	<div class="waterControl">
		<label for="volume">Volume:</label>
		<input type="number" name="volume" id="volume" style="background-color:black; color:green;">
	</div>
	<div class="waterControl">
		<input type="submit" value="Water Plants" style="background-color:black; color:green;">
	</div>
<a href="/">home</a>
</body>
</html>